.spinner {
    align-items: center;
    display: flex;
    justify-content: center;
    height: stretch;
    width: 100%;
}

.spinner-svg {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    fill: currentColor;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
