.back-navigator {
    align-items: center;
    background-color: #727272;
    border-radius: 18px;
    box-sizing: border-box;
    color: #eeeeee;
    cursor: pointer;
    display: flex;
    font-size: 28px;
    height: 36px;
    justify-content: center;
    padding: 0 2px 4px 0;
    width: 36px;
}

.back-navigator:hover {
    background-color: #eeeeee;
    color: #727272;
}
