.sidebar-navigator-container {
    box-sizing: border-box;
    height: 90vh;
    overflow: auto;
    padding: 0 8px;
    width: 320px;
}

@media only screen and (max-width: 850px) {
    .sidebar-navigator-container {
        padding: 0;
        margin: auto;
        max-width: 420px;
        width: 100%;
    }
}
