.sidebar-navigator-container {
    box-sizing: border-box;
    overflow: auto;
    padding: 0 8px;
    width: 320px;
}

@media only screen and (max-width: 600px) {
    .sidebar-navigator-container {
        padding: 0;
    }
}
