.project-details {
    padding: 16px;
    width: calc(100% - 352px);
}

.project-title, .project-homepage, .contributor-name {
    color: #0366d6;
    text-decoration: none;
}

.project-title {
    display: block;
    font-size: 24px;
    margin-bottom: 16px;
    text-decoration: none;
}

.project-title:hover, .project-homepage:hover, .contributor-name:hover {
    text-decoration: underline;
}

.project-description {
    margin-right: 8px;
}

.project-events {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 24px 0;
}

.project-info {
    border: solid 1px #aaaaaa;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    margin: 16px 0 24px;
    flex-wrap: wrap;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
    max-height: 360px;
    overflow: auto;
}

.contributors-title {
    margin-bottom: 16px;
    font-size: 20px;
}